# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# AuraLyrics Specific
raw_assets/
metadata/
renders/
logs/
data/last_run.txt

# Sensitive Files (YouTube API)
client_secret.json
token.json

# OS files
.DS_Store
Thumbs.db
cookies.json

